<div class="bg-fitness min-h-screen ">
  <div class="navbar fixed top-0 left-0 z-50 w-full  px-6 lg:px-10 shadow-sm bg-base-100/10 backdrop-blur-md">
    <div class="flex-1">
    <a routerLink="/" class="flex items-center gap-3">
      <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-primary text-primary-content font-bold shadow-md ">
        F
      </div>
      <div>
        <span class="text-3xl font-extrabold tracking-tight text-white">
          Plataforma Fitness
        </span>
        <p class="text-s text-base-200 -mt-1 hidden sm:block">
          Treino, nutrição e gestão
        </p>
      </div>
    </a>
  </div>

  
  </div>

<div class="min-h-[calc(100vh-65px)] flex items-center justify-center px-4">
  <div class="w-full max-w-md">
    <router-outlet></router-outlet>
  </div>
</div>